---
import Layout from "../../../components/Layout.astro";
import MasonryGrid from "../../../components/MasonryGrid.astro";
import PhotoModal from "../../../components/PhotoModal.astro";

import * as API from "../../../lib/api";

import { Album } from "../../../../../../shared/interfaces/Album";

const { lang, id } = Astro.params as { lang: string; id: string };

const album: Album = await API.fetchAlbum(id);
---

<Layout lang={lang}>
    <div class="album-page">
        <h1>{album.name}</h1>
        <p class="album-desc">
            {album.description[lang] || album.description.en}
        </p>
        <MasonryGrid
            pictures={album.pictures}
            lang={lang}
        />
        <PhotoModal lang={lang} />
    </div>
</Layout>

<style>
    .album-page {
        max-width: 1200px;
        margin: 0 auto;
        padding: 2rem;
    }
    .album-desc {
        font-size: 1.1rem;
        margin-bottom: 1.5rem;
    }
</style>
